.jumbotron {
	text-align: center;
	background-image: url("https://wallpaperaccess.com/full/846241.jpg");
	background-repeat: repeat;
	background-size: auto;
	border-bottom: 2px solid whitesmoke;
}

/* Remove bullets from search history */
ul {
	list-style-type: none;
	padding: 0;
}

/* Current Weather icon */
#current-weather-icon {
	width: 80px;
}

.bg-default {
	margin-bottom: 4px;
}

.search-section {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #9497a0;
	height: auto;
	margin-bottom: 0;
}

/*Media query to adjust margins for smaller screen sizes*/
@media only screen and (max-width: 768px) {
	#current-weather {
		margin-right: 35px;
	}
}

.form-control {
	width: 80px;
}

/* Style Forecast Section */
.forecast {
	text-align: center;
}

#forecast-date0 {
	margin-top: 5px;
}

#forecast-date1 {
	margin-top: 5px;
}

#forecast-date2 {
	margin-top: 5px;
}

#forecast-date3 {
	margin-top: 5px;
}

#forecast-date4 {
	margin-top: 5px;
}


/*Classes for UV index coloring*/
.low {
	background-color: green;
	padding: 3px;
	color: white;
	border: 1px solid rgb(10, 78, 1);
	border-radius: 5px;
}

.medium {
	background-color: rgb(255, 251, 0);
	padding: 3px;
	color: grey;
	border: 1px solid rgb(218, 207, 62);
	border-radius: 5px;
}

.high {
	background-color: orange;
	padding: 3px;
	color: white;
	border: 1px solid rgb(209, 106, 37);
	border-radius: 5px;
}

.very-high {
	background-color: red;
	padding: 3px;
	color: white;
	border: 1px solid rgb(155, 7, 7);
	border-radius: 5px;
}